<app-menu></app-menu>

<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}}</span>
        <span><a *ngIf="loggedInUser.admin!=false" routerLink='/users/create'>
                <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
        </span>
    </div>
</div>
<table class="table">
    <tr>
        <th><a (click)="sortBy('id')">Id</a></th>
        <th>Username</th>
        <th><a (click)="sortBy('lastName')">Name</a></th>
        <th>Action</th>
    </tr>
    <tr *ngFor='let u of users | sort:sortCriteria:sortOrder'>
        <td>{{u.id}}</td>
        <td>{{u.userName}}</td>
        <td>{{u.lastName}}, {{u.firstName}}</td>
        <td><a routerLink='/users/detail/{{u.id}}'><img src='assets/details.png' width='20' height='20'
                    title='Detail'></a>
            
            <a *ngIf="loggedInUser.admin!=false" routerLink='/users/edit/{{u.id}}'> | <img src='assets/pencil-icon.png'
                    width='20' height='20' title='Edit'></a>
        </td>
    </tr>
</table>
