<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>|
        <span><a routerLink="/requests/list">Return to requests...</a></span>
    </div>
</div>
<p *ngIf='!request'>Loading</p>
<div *ngIf='request'>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>$ {{request.total}}</td>
            <td>{{request.status}}</td>
        </tr>
    </table>
</div>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{lineTitle}} </span>
        <span><a routerLink='/line-items/create/{{request.id}}'>
                <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
        </span>
    </div>
</div>
<div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
            <th>Action</th>
        </tr>
        <h1 class="loadingResult" *ngIf='(lines < 1)'>No lineitems yet. Please create a new one.</h1>

        <tr *ngFor='let l of lines | sort:sortCriteria:sortOrder'>
            <td>{{l.id}}</td>
            <td>{{l.product.name}}</td>
            <td>{{l.quantity}}</td>
            <td>{{l.product.price | currency}}</td>
            <td>{{l.quantity * l.product.price | currency}}</td>
            <td><span *ngIf='l.request.status == "New"'>
                    <a routerLink='/line-items/edit/{{l.id}}'><img src='assets/pencil-icon.png' width='20' height='20'
                            title='Edit'></a> |
                    <a (click)="delete(l.id)"><img src="assets/delete.jpg" alt="delete" width="20" height="20"></a>

                </span></td>
        </tr>
    </table><span *ngIf='request.status == "New"' >
    <button (click)='review()' *ngIf='(lines != 0) '>Submit For Review</button>
</span>
<span *ngIf='request.status == "Rejected"' >
        <button (click)='reopen(this.request)'>Reopen</button>
    </span></div>