<app-menu></app-menu>
<div id="page-container">
    <div id="content-wrap">
        <div id="center">
            <h1 style="margin-top: 1%;">Resources</h1>
            <p>Resources used in the creation of this project include:</p>
            <ul  style="list-style-type:none;">
                <li>Murach's Java</li>
                <li>Eloquent JavaScript</li>
                <li>Max Technical Training instructor created resources</li>
                <li>W3Schools.com</li>
                <li>stackoverflow.com</li>
                <li>geeksforgeeks.com</li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>