<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
        <span><a routerLink="/requests/list">Return to requests...</a></span>
    </div>
</div>
<p *ngIf = '!request'>Loading....</p>
<div *ngIf='request'>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>
                    User:
                </td>
                <td>
                    {{request.user.userName}}
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    {{request.description}}
                </td>
            </tr>
            <tr>
                <td>
                    Justification:
                </td>
                <td>
                   {{request.justification}}
                </td>
            </tr>
            <tr>
                <td>
                    Date Needed:
                </td>
                <td>
                    {{request.dateNeeded}}
                </td>
            </tr>
            <tr>
                <td>
                   Delivery Method:
                </td>
                <td>
                   {{request.deliveryMode}}
                </td>
            </tr>
            <tr>
                <td>
                    Status:
                </td>
                <td>
                   {{request.status}}
                </td>
            </tr>
            <tr>
                <td>
                    Total:
                </td>
                <td>
                    {{request.total | currency}}
                </td>
            </tr>
            <tr>
                <td>
                    Date Submitted:
                </td>
                <td>
                    {{request.submittedDate | date:'MM/dd/yyyy @ h:mma'}}
                </td>
            </tr>
            <tr>
                <td>
                    Reason for Rejection:
                </td>
                <td>
                    {{request.reasonForRejection}}
                </td>
            </tr>
      </table>
    </main>
    <span *ngIf="loggedInUser.admin!=false" >
        <span><a routerLink="/requests/edit/{{request.id}}" class="btn btn-sm btn-warning">Edit</a></span>
        <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
</div>