<app-menu></app-menu>
<div id='page-container'>
    <div id="content-wrap">
        <div id="text-warp">
        <h1>About</h1>
        <p>This Purchase Request System was constructed by Sam Holcomb as a capstone project to complete
            the Java Bootcamp at Max Technical Training and Career Programs.
        </p>
        <p>Purchase Request System (PRS) – Web application utilizing RESTful Web Services through
            Spring Framework, serving JSON responses to front end technologies featuring HTML, CSS, JavaScript,
            Angular, and Bootstrap on front -end, integrated with Java functionality and MySQL database using Spring
            Framework. Simulates a system allowing corporate users to requisition supplies from a variety of vendors,
            subject to manager approval.
        </p>
    </div>
</div></div>
<app-footer></app-footer>