/* You can add global styles to this file, and also import other style files */
background {
    color: rgb(196, 193, 193);
}
footer{
    position: absolute;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;
}    
  

