<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
    </div>
</div>
<p *ngIf = '!product'>Loading....</p>
<div *ngIf='product'>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>
                    Product Code:
                </td>
                <td>
                    <input [(ngModel)]='product.partNumber' class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Product Name:
                </td>
                <td>
                    <input [(ngModel)]='product.name' class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Vendor:
                </td>
                <td>
                    <select [(ngModel)]="product.vendor" class="rounded">
                        <option *ngFor='let v of vendors' [ngValue]='v'>{{v.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Price:
                </td>
                <td>
                    <input [(ngModel)]='product.price' type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="rounded">
                </td>
            </tr>
            <tr>
                <td>
                   Unit:
                </td>
                <td>
                    <input [(ngModel)]='product.unit' class="rounded" type="text" placeholder="If none, leave blank">
                </td>
            </tr>
            <tr>
                <td>
                    Photo Path Url:
                </td>
                <td>
                    <input [(ngModel)]='product.photoPath' class="rounded" type="text" placeholder="If none, leave blank">
                </td>
            </tr>
         
        </table>
    </main>
    <span><button (click)="save()" class="btn btn-sm btn-primary">Save</button></span>
</div>